@import "variables.scss";

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin hover-y {
  transition: all 0.2s ease-in-out;
  transform: translateY(-1px);
}
