header{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 10vh;
    @include flex-row;
    background-color: $color_oscuro;
    z-index: 2;
    
    >img {
        width: 200px;
        margin-left: 20px;
    }
    >nav{
        @include flex-row;
        gap: 20px;
        
        > a{
            text-decoration: none;
            color: white;
            font-size: 20px;
            display: inline-block;
            position: relative;

            &:hover{
                @include hover-y;
                color: rgb(235, 235, 235);
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0px;
                left: 50%;
                width: 0px;
                height: 2px;
                background-color: rgb(235, 235, 235);
                transform: translateX(-50%);
                transition: width 0.3s ease-in-out;
            }

            &:hover::after {
                width: 100%;
            }
        }

        >div{
            //Administración
            > a {
                font-size: 20px;
                color: white;
                text-decoration: none;
                padding-left: 5px;

                &:hover {
                    @include hover-y;
                    color: rgb(235, 235, 235);
                }
            }
        }
    }

    >div{ //Div icono usuario
        @include flex-row;
        margin-right: 20px;
        > span { //Nombre usuario
            color: $color_claro3;
        }
        >img{
            width: 30px;
            height: auto;
            margin-left: 20px;
            margin-right: 10px;
            transition: scale 0.3s;

            &:hover{
                scale: 1.1;
                cursor: pointer;
            }
        }
        > div {
            top: 8vh;
            right: 30px;
        }
    }
    > nav > div > div, > div > div {
        display: none;
        position: absolute;
        height: auto; /* Dejar que se expanda a su altura natural */
        width: auto;
        white-space: nowrap;
        background-color: $color_oscuro;
        opacity: 1; /* Mostrar */
        transition: all 0.3s ease; /* Transición de todos los parámetros */
        border: 1px solid white; /* Borde invisible al inicio */
        border-top: none;
        border-radius: 0px 0px 5px 5px;
        
        a {
            font-size: 17px;
            color: white;
            text-decoration: none;
            padding: 10px;
            display: block;
            transition: color 0.3s;
            border-bottom: 3px solid $color_oscuro;
            
            &:hover{
                background-color: $color_claro;
                color: $color_oscuro;
            }
        }
        >:last-child {
            border-bottom: none;
        }
    }
}
