#general{
    width: 100vw;
    height: 12vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;


    >:first-child{
        font-size: larger;
    }
    >:last-child{
        border: solid 2px black;
        border-radius: 15px;
        >:first-child{
            display: flex;
            align-items: center;

            height: 4vh;
            >img{
                width: auto;
                height: 3vh;
                margin-left:0.5vw ;
            }
            >input{
                height: 4vh;
                border: none;
                margin-right: 0.5vw;
                outline: none;

                margin-left: 1vw;
                font-size: medium;
            }
            >input:focus{
                border: none;
                outline: none;
            }

        }
    }

}