#fichaVocabulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;
    >:first-child {
        background-color: $color-oscuro;
        border-radius: 10px;
        width: 20vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        margin-bottom: 1.7vh;
        > h2 {
            font-size: 1.5rem;
            text-align: center;
            color: white;
        }
    }
    >:nth-child(2) {
        width: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        input {
            width: 100%;
            border: 2px solid black;
            text-align: center;
            margin-bottom: 1.7vh;
            padding: 0.5vw;
        }
    }
    >:nth-child(3) {
        width: 20vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        input {
            border: 2px solid black;
            padding: 0.5vw;
            text-align: center;
        }
        :last-child {
            padding: 0.5vw 2vw 0.5vw 2vw;
        }
        :last-child:hover {
            cursor: pointer;
            background-color: $color_claro2;
            animation: aumentarTamano 0.2s linear 1 running forwards;
        }
    }
    >:last-child {
        margin-top: 2vh;
        button {
            background-color: black;
            color: white;
            border-radius: 12px;
            padding: 0.5vw 2vw 0.5vw 2vw;
        }
        button:hover {
            cursor: pointer;
            animation: aumentarTamano 0.2s linear 1 running forwards;
        }
    }
}

@keyframes aumentarTamano {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.04);
    }
}