#fichaUbicaciones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;
    >:first-child {
        background-color: #333333;
        border-radius: 10px;
        width: 20vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        margin-bottom: 1.7vh;
        > h2 {
            font-size: 1.5rem;
            text-align: center;
            color: white;
        }
    }
    >:nth-child(2) {
        width: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .inputsDiv {
            display: flex;
            align-items: center;
            border: 2px solid black;
            margin-bottom: 5%;
            
            input {
                width: 100%;
                text-align: center;
                border-style: none;
                padding: 0.5vw;
            }
            input:focus {
                outline: none; 
            }
            button {
                height: 100%;
                width: 8%;
                padding: 0.5vw;
                background-color: transparent;
                border-style: none;
                font-size: 17px;
            }
            button:hover {
                cursor: pointer;
            }
            img {
                width: 1vw;
            }
        }
    
    }
    >:last-child {
        margin-top: 2vh;
        button {
            background-color: black;
            color: white;
            border-radius: 12px;
            padding: 0.5vw 2vw 0.5vw 2vw;
        }
        button:hover {
            cursor: pointer;
            animation: aumentarTamano 0.2s linear 1 running forwards;
        }
    }
}

