#fichaUbicaciones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2vh;
    padding-left: 5%;
    >:first-child {
        position: sticky;
        top: 10vh;
        background-color: white; // Para que el contenido no se vea a través
        z-index: 1; // Para asegurar que está por encima de otros elementos
        padding: 15px 0;
        display: flex;
        align-items: center;
        gap: 20px;
    
        /*
        border-radius: 10px;
        width: 20vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        margin-bottom: 1.7vh;
        display: flex;*/
        
        > h2 {
            font-size: 1.5rem;
            color: #333333;
        }
        form {
            margin: 0;
            margin-left: 3vh;
            
            .btn {
              padding: 8px 16px;
              background-color: white;
              border: 1px solid black;
              border-radius: 4px;
              cursor: pointer;
              font-size: 14px;
              
              &:hover {
                background-color: black;
                color: white;
              }
              
              &:active {
                transform: translateY(1px);
              }
            }
          }
    }
    >:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .inputsDiv {
            border-left: 1px solid black;
            display: flex;
            align-items: center;
            margin-bottom: 1%;
            
            input {
                text-align: center;
                border-style: none;
                padding: 0.5vw;
            }
            input:focus {
                outline: none; 
            }
            button {
                height: 100%;
                padding: 0.5vw;
                background-color: transparent;
                border-style: none;
                font-size: 17px;
            }
            button:hover {
                cursor: pointer;
            }
            button:active {
                scale: 0.9;
            }
            img {
                width: 1.2vw;
            }
            >:last-child{
              margin-left: 0.5vw;
              cursor: pointer;
            }
        }
        .divHistorial{
          display: none;
        }
    
    }
    >:last-child {
        display: flex;
        gap: 10px;
        
        form {
          margin: 0;
          margin-bottom: 2vw;
          margin-top: 1vw;
        }
        
        .btn {
          padding: 8px 16px;
          background-color: #f0f0f0;
          border: 1px solid #ccc;
          border-radius: 4px;
          cursor: pointer;
          font-size: 14px;
          
          &:hover {
            background-color: #e0e0e0;
          }
          
          // Si quieres añadir efecto de click
          &:active {
            transform: translateY(1px);
          }
        }
      }
}

