#fichaObra {
    >div {
        width: 80%;
        margin: 0px auto;
        margin-top: 20px;
        @include flex-row;
        justify-content: center;
        gap: 15px;

        button {
            display: inline-block;
            position: relative;
            color: $color_oscuro;
            font-size: 20px;
            padding: 8px;
            border: none;
            background-color: transparent;
            
            &:hover {
                cursor: pointer;
                @include hover-y;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: 0px;
                left: 50%;
                width: 0px;
                height: 2px;
                background-color: $color_oscuro;
                transform: translateX(-50%);
                transition: width 0.3s ease-in-out;
            }

            &:hover::after {
                width: 100%;
            }

            &.pulsado {
                border-bottom: 2px solid $color_oscuro;
            }
        }
    }
    > form {
        > div {
            width: 80%;
            margin: 0px auto;
            padding: 20px;
            background-color: none;
            >:first-child { //Div datos principales
                > div {
                    >:first-child {//Div imagen
                        @include flex-column;
                        justify-content: space-around;
                        align-items: start;
                        width: 100%;
                        padding-right: 20px;
                        > img {
                            width: 100%;
                        }
                    }
                    >:last-child {
                        >:last-child {//Div inputs y imágenes
                            width: 100%;
                            @include flex-row;
                            &:has(div) {
                                justify-content: space-between;
                                > div {
                                    @include flex-row;
                                    justify-content: left;
                                    gap: 10px;
                                }
                            }
                            &:has(:not(div)) {
                                justify-content: left;
                            }
                            padding-top: 15px;
                            gap: 15px;

                            input, a {
                                border-radius: 5px;
                            }

                            input {
                                width: 3vw;
                                padding: 10px;
                            }

                            a {
                                width: 3vw;
                                text-decoration: none;
                                @include flex-row;
                                padding: 10px;
                                img {
                                    width: 100%;
                                }
                                button {
                                    padding: 10px;
                                }
                            }

                            a:has(button) {
                                width: auto;
                                > button {
                                    width: auto;
                                    background-color: $color_oscuro;
                                    font-size: 16px;
                                    color: white;
                                    &:hover {
                                        background-color: #666666;
                                        cursor: pointer;
                                    }
                                }
                            }

                            input[type="submit"] {
                                width: auto;
                                background-color: $color_oscuro;
                                font-size: 17px;
                                color: white;
                                padding: 12px 20px 12px 20px;
                            }
                            
                            a:has(img[alt="icono descargar"]) { //Div con imagen descargar
                                background-color: $color_oscuro;
                                color: white;
                                &:hover {
                                    background-color: #4b4b4b;
                                }
                            }
                            input[type="image"], a:has(img[alt="icono editar"]) {
                                background-color: #666666;  //Div con icono editar o input guardar
                                &:hover {
                                    background-color: #7c7c7c;
                                }
                            }
                            a:has(img[alt="icono eliminar"]) { //Div con imagen eliminar
                                background-color: #E74C3C;
                                &:hover {
                                    background-color: #EE6655;
                                }
                            }
                            
                            a, input {
                                &:hover {
                                    cursor: pointer;
                                    animation: aumentarTamano 0.2s linear 1 running forwards;
                                    transform: translateY(-1px);
                                }

                                &:active {
                                    transform: translateY(0);
                                    scale: 0.97;
                                }
                            }
                        }
                    }
                    >:first-child > div:has(input[type="file"]), >:last-child > div:has(input[type="file"]) { //Campo subir fichero
                        @include cuadroSubirImagen;
                    }
                }
            }
            > div {
                margin-bottom: 20px;
                padding: 15px;
                border-left: 5px solid $color_oscuro;
                background-color: #F4F4F4;
                border-radius: 5px;
                > h2 {
                    font-size: 1.2em;
                    font-weight: bold;
                    color: #333333;
                    margin-top: 0;
                    margin-bottom: 15px;
                }
                > div {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px;
                    
                    div {
                        flex: 1 1 calc(50% - 15px); /* Dos columnas */
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 10px;
                        > div:has(input[name="numero_registro"]) { //Campos numero de registro
                            @include flex-row;
                            justify-content: left;
                            >:first-child {
                                width: 15%;
                            }
                            >:nth-child(2) {
                                width: 30%;
                            }
                            >:nth-child(3) {
                                width: 15%;
                            }
                            input {
                                margin-right: 10px;
                                text-align: center;
                            }
                            > img {
                                width: 20px;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                            > p {
                                color: red;
                                margin-left: 10px;
                            }
                        }
                        > label, span {
                            font-weight: bold;
                            margin-bottom: 5px;
                            color: #333333;
                        }
                        > label > span {
                            color: red;
                            font-size: 15px;
                        }
                        input[type="text"],
                        input[type="number"],
                        input[type="date"],
                        select,
                        textarea {
                            padding: 8px;
                            font-size: 1em;
                            border: 1px solid $color_claro2;
                            border-radius: 4px;
                            background-color: #FFFFFF;
                            color: $color_oscuro;
                            transition: border-color 0.3s;
                        }
                        
                        textarea {
                            resize: vertical;
                        }
                        
                        input[type="text"]:focus,
                        input[type="number"]:focus,
                        input[type="date"]:focus,
                        select:focus,
                        textarea:focus {
                            border-color: $color_oscuro;
                            outline: none;
                        }

                        a {
                            margin-bottom: 10px;
                            width: max-content;
                        }

                        p {
                            padding: 10px;
                        }

                        div:has(a img) {
                            @include flex-row;
                            justify-content: start;
                            gap: 15px;
                            overflow-x: auto;
                            a {
                                width: max-content;
                                text-decoration: none;
                                color: black;

                                img {
                                    width: 100px;
                                }
                            }
                        }

                        > div:has(video) {
                            @include flex-row;
                            justify-content: start;
                            gap: 15px;

                            video {
                                min-width: 50%;
                            }

                            audio {
                                min-width: 50%;
                            }
                        }

                        > div:has(input[type="file"]) { //Campo subir fichero
                            @include cuadroSubirImagen;
                        }
                        >:last-child {
                            >:nth-child(2), >:last-child {
                                input {
                                    width: 80%;
                                    padding: 3px;
                                    font-size: 1em;
                                    border: 1px solid $color_claro2;
                                    border-radius: 4px;
                                    background-color: #FFFFFF;
                                    color: $color_oscuro;
                                    transition: border-color 0.3s;
                                }
                                img {
                                    width: 20px;
                                    height: 20px;
                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                            }
                            >:nth-child(2) {
                                @include flex-row;
                                justify-content: center;
                                gap: 10px;
                            }
                            >:last-child { //Div que contiene todos los enlaces agregados
                                width: 100%;
                                @include flex-column;
                                align-items: start;
                                max-height: fit-content;
                                overflow-y: auto;
                                padding: 5px;

                                div { //Div que contiene un enlace agregado
                                    width: 100%;
                                    @include flex-row;
                                    justify-content: center;
                                    gap: 10px;
                                    max-height: unset;
                                    overflow: unset;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .historial_obras_ubicaciones {
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: #ffffff;
            border-radius: 4px;
            overflow: hidden;
            margin: 15px 0;
            th, td {
                padding: 12px 15px;
                text-align: left;
                border-bottom: 1px solid $color_claro2;
            }
            
            th {
                background-color: $color_oscuro;
                color: white;
                font-weight: bold;
                font-size: 1em;
            }
            
            tr {
                &:nth-child(even) {
                    background-color: #F4F4F4;
                }
                
                &:hover {
                    background-color: #f8f8f8;
                    transition: background-color 0.3s ease;
                }
                
                td {
                    color: #333333;
                    font-size: 0.95em;
                    
                    &:first-child {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
  
/* Responsive */
@media (max-width: 768px) {
.field-group {
    flex-direction: column;
}

.field {
    flex: 1 1 100%; /* Una sola columna en pantallas pequeñas */
}
}


@keyframes aumentarTamano {
from {
    transform: scale(1);
}
to {
    transform: scale(1.02);
}
}