@charset "UTF-8";
#login {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* Seleccionar el primer hijo */
  /* Seleccionar el segundo hijo */
}
#login > :first-child {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CFD1D4;
}
#login > :first-child > img {
  width: 70%;
  height: auto;
}
#login > :nth-child(2) {
  width: 50vw;
  height: 100vh;
}
#login > :nth-child(2) > :first-child {
  display: flex;
  justify-content: space-between;
}
#login > :nth-child(2) > :first-child img {
  width: 4vw;
  height: auto;
}
#login > :nth-child(2) > :nth-child(2) {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
  margin-top: 5vh;
}
#login > :nth-child(2) > :nth-child(2) img {
  width: 15vw;
  height: auto;
}
#login > :nth-child(2) > :last-child {
  display: flex;
  justify-content: center;
}
#login > :nth-child(2) > :last-child > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login > :nth-child(2) > :last-child > form > input {
  font-size: medium;
  border: none;
  background-color: white;
  margin-bottom: 7vh;
  border-bottom: 4px solid black;
  width: 15vw;
}
#login > :nth-child(2) > :last-child > form > input:focus {
  background-color: white;
  border: none;
  outline: none;
  border-bottom: 4px solid black;
}
#login > :nth-child(2) > :last-child > form > :last-child {
  font-size: medium;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 7vw;
  height: 3vh;
  transition: background-color 0.3s, scale 0.3s;
}
#login > :nth-child(2) > :last-child > form > :last-child:hover {
  border: solid 2px black;
  cursor: pointer;
  scale: 1.05;
}

header {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  position: sticky;
}
header > img {
  margin: 3%;
  width: 17vw;
  height: auto;
}
header > nav {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  margin-right: 7vw;
}
header > nav > a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: scale 0.3s;
}
header > nav > a:hover {
  color: #CFD1D4;
  scale: 1.05;
}
header > nav > div > a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
header > nav > div > div {
  font-size: 1.2rem;
  opacity: 0;
  height: 0;
  display: block;
  position: absolute;
  min-width: 15vw;
  z-index: 1;
  background-color: #CFD1D4;
  overflow: hidden; /* Para ocultar contenido que exceda la altura */
  transition: all 0.3s ease; /* Transición de todos los parámetros */
  border: solid 2px transparent; /* Borde invisible al inicio */
}
header > nav > div > div > a {
  color: black;
  text-decoration: none;
  padding: 5%;
  display: block;
  transition: color 0.3s;
}
header > nav > div > div > a:hover {
  color: #333333;
}
header > nav > div hr {
  border: none;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  height: 0.5vh;
  background-color: black;
}
header > nav > div:hover > div {
  opacity: 1; /* Mostrar */
  height: auto; /* Dejar que se expanda a su altura natural */
  border-color: white; /* Cambiar el borde al hacer hover */
  border-radius: 7px;
}
header > div {
  margin-right: 3vw;
  display: block;
}
header > div > a > img {
  width: 2.5vw;
  height: auto;
  margin-left: 2vw;
  transition: scale 0.3s;
}
header > div > a > img:hover {
  scale: 1.1;
}
header > div > div {
  font-size: 1.2rem;
  opacity: 0;
  height: 0;
  display: block;
  position: absolute;
  min-width: 15vw;
  z-index: 1;
  background-color: #CFD1D4;
  overflow: hidden; /* Para ocultar contenido que exceda la altura */
  transition: all 0.3s ease; /* Transición de todos los parámetros */
  border: solid 2px transparent; /* Borde invisible al inicio */
}
header > div:hover > div {
  opacity: 1; /* Mostrar */
  height: auto; /* Dejar que se expanda a su altura natural */
  border-color: white; /* Cambiar el borde al hacer hover */
  border-radius: 7px;
}

#general {
  min-height: 70vh;
}
#general > :first-child {
  display: flex;
  width: 100vw;
  height: 12vh;
}
#general > :first-child > :first-child {
  margin-left: 3.5%;
}
#general > :first-child > :nth-child(2) {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
}
#general > :first-child > :nth-child(2) > :first-child {
  width: 40%;
  height: 40%;
  border: 2px black solid;
  display: flex;
  align-items: center;
}
#general > :first-child > :nth-child(2) > :first-child > :first-child {
  width: 9%;
  height: 70%;
  background-color: transparent;
  margin-left: 2%;
  border: none; /* Eliminar borde predeterminado */
  padding: 0; /* Sin padding para ajustarse a la imagen */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
}
#general > :first-child > :nth-child(2) > :first-child > :first-child img {
  width: 100%; /* La imagen ocupará el 100% del ancho del botón */
  height: auto; /* Mantener la proporción de la imagen */
  max-height: 100%; /* Asegurarse de que la imagen no exceda la altura del botón */
  -o-object-fit: contain;
     object-fit: contain; /* Ajustar la imagen para que se contenga dentro del botón */
}
#general > :first-child > :nth-child(2) > :first-child > :nth-child(2) {
  border: none;
  height: 100%;
  width: 75%;
  margin-left: 2%;
  font-size: 16px;
}
#general > :first-child > :nth-child(2) > :first-child > :nth-child(2):focus {
  outline: none;
}
#general > :first-child > :nth-child(2) > :first-child > :last-child {
  width: 9%;
  height: 70%;
  background-color: transparent;
  border: none; /* Eliminar borde predeterminado */
  padding: 0; /* Sin padding para ajustarse a la imagen */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
}
#general > :first-child > :nth-child(2) > :first-child > :last-child img {
  width: 100%; /* La imagen ocupará el 100% del ancho del botón */
  height: auto; /* Mantener la proporción de la imagen */
  max-height: 100%; /* Asegurarse de que la imagen no exceda la altura del botón */
  -o-object-fit: contain;
     object-fit: contain; /* Ajustar la imagen para que se contenga dentro del botón */
}
#general > :first-child > :nth-child(2) > :nth-child(2) {
  width: 20%;
  height: 40%;
  display: flex;
  align-items: center;
}
#general > :first-child > :nth-child(2) > :nth-child(2) > :first-child {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#general > :first-child > :nth-child(2) > :nth-child(2) > :first-child a {
  margin-left: 10%;
  font-size: 18px;
}
#general > :first-child > :nth-child(2) > :nth-child(2) > :first-child img {
  width: 30%;
  height: auto;
}
#general > :first-child > :nth-child(2) > :nth-child(2) > :first-child img:hover {
  cursor: pointer;
}
#general > :first-child > :nth-child(2) > :nth-child(2) > :last-child {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#general > :first-child > :nth-child(2) > :nth-child(2) > :last-child img {
  width: 40%;
  height: auto;
}
#general > :first-child > :nth-child(2) > :nth-child(2) > :last-child img:hover {
  cursor: pointer;
}
#general > :last-child {
  display: flex;
  justify-content: center;
}
#general > :last-child table {
  width: 92vw;
  border-collapse: separate;
  border-spacing: 0 0.5vh;
}
#general > :last-child table tr {
  font-size: large;
}
#general > :last-child table tr td, #general > :last-child table tr th {
  padding: 1.3vh;
  text-align: center;
  width: 2vw;
}
#general > :last-child table tr td > img, #general > :last-child table tr th > img {
  width: 100%;
}
#general > :last-child table tr td > a > img, #general > :last-child table tr th > a > img {
  width: 1.5vw;
  height: auto;
  margin-right: 0.1vw;
}
#general > :last-child table tr:first-child {
  background-color: #333333;
  color: white;
}
#general > :last-child table tr:nth-child(even):not(:first-child) {
  background-color: #BFBFBF;
}
#general > :last-child table tr:nth-child(odd):not(:first-child) {
  background-color: #EFEFEF;
}
#general button {
  background-color: grey;
}

#fichaVerUsuario {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
#fichaVerUsuario > :first-child {
  border: 2px solid black;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#fichaVerUsuario > :first-child > img {
  width: 15%;
  margin-top: 20px;
}
#fichaVerUsuario > :first-child div {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
#fichaVerUsuario > :first-child div div {
  width: 50%;
}
#fichaVerUsuario > :first-child div div label {
  font-weight: bold;
}
#fichaVerUsuario > :first-child div div span {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px;
  margin-top: 2px;
  border-bottom: 2px solid black;
}

.fichaUsuario {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.fichaUsuario > :first-child {
  border: 2px solid black;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.fichaUsuario > :first-child > img {
  width: 15%;
  margin-top: 20px;
}
.fichaUsuario > :first-child > form {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.fichaUsuario > :first-child > form > div {
  width: 50%;
  padding: 10px;
}
.fichaUsuario > :first-child > form > div > input, .fichaUsuario > :first-child > form > div select {
  display: block;
  padding: 5px;
  margin-top: 2px;
  border: 2px solid black;
}
.fichaUsuario > :first-child > form > :nth-child(7) {
  width: 100%;
}
.fichaUsuario > :first-child > form > :nth-child(8) {
  border: 2px solid black;
  width: 100%;
  text-align: center;
}
.fichaUsuario > :first-child > form > :nth-child(8) > input {
  width: 50%;
  margin: 0px auto;
}
.fichaUsuario > :first-child > form > :nth-child(8) > span {
  color: #BFBFBF;
}
.fichaUsuario > :first-child > form > :last-child {
  background-color: black;
  color: white;
  border-radius: 12px;
  border: none;
  text-align: center;
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
}
.fichaUsuario > :first-child > form > :last-child:hover {
  cursor: pointer;
}

footer {
  margin-top: 12vh;
  width: 100%;
  height: 21vh;
  background-color: #333333;
  display: flex;
}
footer .div1 {
  width: 50%;
  height: 100%;
}
footer .div1 img {
  max-width: 50%;
  display: block;
  margin-left: 60px;
  margin-top: 10px;
}
footer .div1 :first-child {
  width: 15vw;
  height: auto;
  margin-left: 50px;
}
footer .div1 :last-child {
  width: 20vw;
  height: auto;
}
footer .div2 {
  width: 50%;
  height: 100%;
  color: white;
}
footer .div2 .ubicacion {
  display: flex;
  margin-left: 0;
  height: 33%;
  align-items: center;
}
footer .div2 .ubicacion img {
  width: auto;
  height: auto;
  max-width: 3vw;
  max-height: 3vh;
}
footer .div2 .ubicacion a {
  margin: auto;
  margin-left: 1vw;
  font-weight: normal;
  font-size: 120%;
}
footer .div2 .llamada {
  display: flex;
  margin-left: 0;
  height: 33%;
  align-items: center;
}
footer .div2 .llamada img {
  width: auto;
  height: auto;
  max-width: 3vw;
  max-height: 3vh;
}
footer .div2 .llamada a {
  margin: auto;
  margin-left: 1vw;
  font-weight: normal;
  font-size: 120%;
}
footer .div2 .web {
  display: flex;
  margin-left: 0;
  height: 33%;
  align-items: center;
}
footer .div2 .web img {
  width: auto;
  height: auto;
  max-width: 3vw;
  max-height: 3vh;
}
footer .div2 .web a {
  margin: auto;
  margin-left: 1vw;
  font-weight: normal;
  font-size: 120%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */