@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
#login {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* Seleccionar el primer hijo */
  /* Seleccionar el segundo hijo */
}
#login > :first-child {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CFD1D4;
}
#login > :first-child > img {
  width: 70%;
  height: auto;
}
#login > :nth-child(2) {
  width: 50vw;
  height: 100vh;
}
#login > :nth-child(2) > :first-child {
  display: flex;
  justify-content: space-between;
}
#login > :nth-child(2) > :first-child img {
  width: 4vw;
  height: auto;
}
#login > :nth-child(2) > :nth-child(2) {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
  margin-top: 5vh;
}
#login > :nth-child(2) > :nth-child(2) img {
  width: 15vw;
  height: auto;
}
#login > :nth-child(2) > :last-child {
  display: flex;
  justify-content: center;
}
#login > :nth-child(2) > :last-child > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login > :nth-child(2) > :last-child > form > input {
  font-size: medium;
  border: none;
  background-color: white;
  margin-bottom: 7vh;
  border-bottom: 4px solid black;
  width: 15vw;
}
#login > :nth-child(2) > :last-child > form > input:focus {
  background-color: white;
  border: none;
  outline: none;
  border-bottom: 4px solid black;
}
#login > :nth-child(2) > :last-child > form > :last-child {
  font-size: medium;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 7vw;
  height: 3vh;
  transition: background-color 0.3s, scale 0.3s;
}
#login > :nth-child(2) > :last-child > form > :last-child:hover {
  border: solid 2px black;
  cursor: pointer;
  scale: 1.05;
}

header {
  background-color: #333333;
  position: relative;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
}
header > img {
  margin: 3%;
  width: 17vw;
  height: auto;
}
header > nav {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  margin-right: 7vw;
}
header > nav > a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: scale 0.3s;
}
header > nav > a:hover {
  color: #CFD1D4;
  scale: 1.05;
}
header > nav > div > a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
header > nav > div > div {
  font-size: 1.2rem;
  opacity: 0;
  height: 0;
  display: block;
  position: absolute;
  min-width: 15vw;
  z-index: 1;
  background-color: #CFD1D4;
  overflow: hidden; /* Para ocultar contenido que exceda la altura */
  transition: all 0.3s ease; /* Transición de todos los parámetros */
  border: solid 2px transparent; /* Borde invisible al inicio */
}
header > nav > div > div > a {
  color: black;
  text-decoration: none;
  padding: 5%;
  display: block;
  transition: color 0.3s;
}
header > nav > div > div > a:hover {
  color: #333333;
}
header > nav > div hr {
  border: none;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  height: 0.5vh;
  background-color: black;
}
header > nav > div:hover > div {
  opacity: 1; /* Mostrar */
  height: auto; /* Dejar que se expanda a su altura natural */
  border-color: white; /* Cambiar el borde al hacer hover */
  border-radius: 7px;
}
header > div {
  margin-right: 4vw;
  display: block;
}
header > div > a > img {
  width: 2.5vw;
  height: auto;
  margin-left: 2vw;
  transition: scale 0.3s;
}
header > div > a > img:hover {
  scale: 1.1;
}
header > div > div {
  font-size: 1.2rem;
  opacity: 0;
  height: 0;
  display: block;
  position: absolute;
  z-index: 1;
  background-color: #CFD1D4;
  overflow: hidden; /* Para ocultar contenido que exceda la altura */
  transition: all 0.3s ease; /* Transición de todos los parámetros */
  border: solid 2px transparent; /* Borde invisible al inicio */
}
header > div:hover > div {
  opacity: 1; /* Mostrar */
  height: auto; /* Dejar que se expanda a su altura natural */
  border-color: white; /* Cambiar el borde al hacer hover */
  border-radius: 7px;
  white-space: nowrap;
  display: block;
}
header > div:hover > div > a {
  color: black;
  text-decoration: none;
  padding: 7%;
  display: block;
  transition: color 0.3s;
}
header > div:hover > div > a:hover {
  color: #333333;
}
header > div:hover > div hr {
  border: none;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  height: 0.5vh;
  background-color: black;
}

#general {
  min-height: 70vh;
}
#general > :first-child {
  display: flex;
  width: 100vw;
  height: 12vh;
  align-items: center;
  justify-content: space-between;
}
#general > :first-child > :first-child {
  margin-left: 3.5%;
}
#general > :first-child > :nth-child(2) {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
}
#general > :first-child > :nth-child(2) > :first-child {
  width: 40%;
  height: 40%;
  border: 2px black solid;
  display: flex;
  align-items: center;
}
#general > :first-child > :nth-child(2) > :first-child > :first-child {
  width: 9%;
  height: 70%;
  background-color: transparent;
  margin-left: 2%;
  border: none;
  padding: 0;
  cursor: pointer;
}
#general > :first-child > :nth-child(2) > :first-child > :first-child img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}
#general > :first-child > :nth-child(2) > :first-child > :nth-child(2) {
  border: none;
  height: 100%;
  width: 75%;
  margin-left: 2%;
  font-size: 16px;
}
#general > :first-child > :nth-child(2) > :first-child > :nth-child(2):focus {
  outline: none;
}
#general > :first-child > :nth-child(2) > :first-child > :last-child {
  width: 9%;
  height: 70%;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
#general > :first-child > :nth-child(2) > :first-child > :last-child img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}
#general > :first-child > :nth-child(2) > :nth-child(2) {
  width: 20%;
  height: 40%;
  display: flex;
  align-items: center;
}
#general > :first-child > :nth-child(2) > :nth-child(2) > :first-child {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#general > :first-child > :nth-child(2) > :nth-child(2) > :first-child a {
  margin-left: 10%;
  font-size: 18px;
}
#general > :first-child > :nth-child(2) > :nth-child(2) > :first-child img {
  width: 30%;
  height: auto;
}
#general > :first-child > :nth-child(2) > :nth-child(2) > :first-child img:hover {
  cursor: pointer;
}
#general > :first-child > :nth-child(2) > :nth-child(2) > :last-child {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#general > :first-child > :nth-child(2) > :nth-child(2) > :last-child img {
  width: 40%;
  height: auto;
}
#general > :first-child > :nth-child(2) > :nth-child(2) > :last-child img:hover {
  cursor: pointer;
}
#general > :last-child {
  display: flex;
  justify-content: center;
}
#general > :last-child table {
  width: 92vw;
  border-collapse: separate;
  border-spacing: 0 0.5vh;
}
#general > :last-child table tr {
  font-size: large;
}
#general > :last-child table tr td, #general > :last-child table tr th {
  padding: 1.3vh;
  text-align: center;
  width: 1.5vw;
}
#general > :last-child table tr td > a button, #general > :last-child table tr th > a button {
  font-weight: bold;
  padding: 2%;
  color: #333333;
  background-color: #EFEFEF;
}
#general > :last-child table tr td > a button:hover, #general > :last-child table tr th > a button:hover {
  cursor: pointer;
}
#general > :last-child table tr td > img, #general > :last-child table tr th > img {
  width: 30%;
}
#general > :last-child table tr td > a > img, #general > :last-child table tr th > a > img {
  width: 2vw;
  height: auto;
  margin-right: 0.1vw;
}
#general > :last-child table tr:first-child {
  background-color: #333333;
  color: white;
}
#general > :last-child table tr:nth-child(even):not(:first-child) {
  background-color: #BFBFBF;
}
#general > :last-child table tr:nth-child(odd):not(:first-child) {
  background-color: #EFEFEF;
}
#general button {
  background-color: grey;
}

#fichaObra > form {
  margin-top: 10vh;
}
#fichaObra > form > :first-child {
  width: 80%;
  margin: 0px auto;
  padding: 20px;
  background-color: none;
}
#fichaObra > form > :first-child > :first-child > div > :first-child {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#fichaObra > form > :first-child > :first-child > div > :first-child > div {
  width: 50%;
}
#fichaObra > form > :first-child > :first-child > div > :last-child > :last-child {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: normal;
  justify-content: left;
  gap: 3vw;
}
#fichaObra > form > :first-child > :first-child > div > :last-child > :last-child > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: left;
  width: 100%;
}
#fichaObra > form > :first-child > :first-child > div > :last-child > :last-child div > input, #fichaObra > form > :first-child > :first-child > div > :last-child > :last-child div > a, #fichaObra > form > :first-child > :first-child > div > :last-child > :last-child a > button {
  border-radius: 10px;
}
#fichaObra > form > :first-child > :first-child > div > :last-child > :last-child input {
  width: 3vw;
  padding: 10px;
}
#fichaObra > form > :first-child > :first-child > div > :last-child > :last-child a {
  width: 3vw;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
#fichaObra > form > :first-child > :first-child > div > :last-child > :last-child a img {
  width: 100%;
}
#fichaObra > form > :first-child > :first-child > div > :last-child > :last-child a button {
  padding: 15px;
}
#fichaObra > form > :first-child > :first-child > div > :last-child > :last-child a:has(button) {
  width: 10vw;
}
#fichaObra > form > :first-child > :first-child > div > :last-child > :last-child a > button {
  background-color: #333333;
  font-size: 17px;
  color: white;
}
#fichaObra > form > :first-child > :first-child > div > :last-child > :last-child a > button:hover {
  background-color: #666666;
  cursor: pointer;
}
#fichaObra > form > :first-child > :first-child > div > :last-child > :last-child a:has(img[alt="icono descargar"]) {
  background-color: #333333;
}
#fichaObra > form > :first-child > :first-child > div > :last-child > :last-child a:has(img[alt="icono descargar"]):hover {
  background-color: #666666;
}
#fichaObra > form > :first-child > :first-child > div > :last-child > :last-child input, #fichaObra > form > :first-child > :first-child > div > :last-child > :last-child a:has(img[alt="icono editar"]) {
  background-color: #666666;
}
#fichaObra > form > :first-child > :first-child > div > :last-child > :last-child input:hover, #fichaObra > form > :first-child > :first-child > div > :last-child > :last-child a:has(img[alt="icono editar"]):hover {
  background-color: #999999;
}
#fichaObra > form > :first-child > :first-child > div > :last-child > :last-child a:has(img[alt="icono eliminar"]) {
  background-color: #E74C3C;
}
#fichaObra > form > :first-child > :first-child > div > :last-child > :last-child a:has(img[alt="icono eliminar"]):hover {
  background-color: #C0392B;
}
#fichaObra > form > :first-child > div {
  margin-bottom: 20px;
  padding: 15px;
  border-left: 5px solid #333333;
  background-color: #F4F4F4;
  border-radius: 5px;
}
#fichaObra > form > :first-child > div > h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #333333;
  margin-top: 0;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
#fichaObra > form > :first-child > div > div {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
#fichaObra > form > :first-child > div > div div {
  flex: 1 1 calc(50% - 15px); /* Dos columnas */
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
#fichaObra > form > :first-child > div > div div > label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333333;
}
#fichaObra > form > :first-child > div > div div input[type=text],
#fichaObra > form > :first-child > div > div div input[type=number],
#fichaObra > form > :first-child > div > div div input[type=date],
#fichaObra > form > :first-child > div > div div select,
#fichaObra > form > :first-child > div > div div textarea {
  padding: 8px;
  font-size: 1em;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #333333;
  transition: border-color 0.3s;
}
#fichaObra > form > :first-child > div > div div input[type=text][readonly],
#fichaObra > form > :first-child > div > div div input[type=date][readonly] {
  background-color: #F4F4F4;
  color: #BFBFBF;
}
#fichaObra > form > :first-child > div > div div textarea {
  resize: vertical;
}
#fichaObra > form > :first-child > div > div div input[type=text]:focus,
#fichaObra > form > :first-child > div > div div input[type=number]:focus,
#fichaObra > form > :first-child > div > div div input[type=date]:focus,
#fichaObra > form > :first-child > div > div div select:focus,
#fichaObra > form > :first-child > div > div div textarea:focus {
  border-color: #333333;
  outline: none;
}

/* Responsive */
@media (max-width: 768px) {
  .field-group {
    flex-direction: column;
  }
  .field {
    flex: 1 1 100%; /* Una sola columna en pantallas pequeñas */
  }
}
#fichaVerUsuario > :first-child {
  width: 80%;
  margin: 0px auto;
  padding: 20px;
  background-color: none;
}
#fichaVerUsuario > :first-child > :first-child > div > :first-child {
  width: 50%;
}
#fichaVerUsuario > :first-child > :first-child > div > :first-child > div {
  max-width: 500px;
  max-height: 500px;
}
#fichaVerUsuario > :first-child > :first-child > div > :last-child {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
#fichaVerUsuario > :first-child > :first-child > div > :last-child div {
  width: 50%;
  display: flex;
  align-items: center;
}
#fichaVerUsuario > :first-child > :first-child > div > :last-child div input {
  width: 100%;
}
#fichaVerUsuario > :first-child > :first-child > div > :last-child > :last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#fichaVerUsuario > :first-child > :first-child > div > :last-child > :last-child > :nth-child(1) > img {
  background-color: #333333;
}
#fichaVerUsuario > :first-child > :first-child > div > :last-child > :last-child > :nth-child(2) > img {
  background-color: #666666;
}
#fichaVerUsuario > :first-child > :first-child > div > :last-child > :last-child > :nth-child(3) > img {
  background-color: #E74C3C;
}
#fichaVerUsuario > :first-child > :first-child > div > :last-child > :last-child a {
  width: 15%;
}
#fichaVerUsuario > :first-child > :first-child > div > :last-child > :last-child a img {
  padding: 5px;
  width: 100%;
  height: auto;
}
#fichaVerUsuario > :first-child > div {
  margin-bottom: 20px;
  padding: 15px;
  border-left: 5px solid #333333;
  background-color: #F4F4F4;
  border-radius: 5px;
}
#fichaVerUsuario > :first-child > div > h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #333333;
  margin-top: 0;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
#fichaVerUsuario > :first-child > div > div {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
#fichaVerUsuario > :first-child > div > div div {
  flex: 1 1 calc(50% - 15px); /* Dos columnas */
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
#fichaVerUsuario > :first-child > div > div div > label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333333;
}
#fichaVerUsuario > :first-child > div > div div input[type=text],
#fichaVerUsuario > :first-child > div > div div input[type=number],
#fichaVerUsuario > :first-child > div > div div input[type=date],
#fichaVerUsuario > :first-child > div > div div select,
#fichaVerUsuario > :first-child > div > div div textarea {
  padding: 8px;
  font-size: 1em;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #333333;
  transition: border-color 0.3s;
}
#fichaVerUsuario > :first-child > div > div div input[type=text][readonly],
#fichaVerUsuario > :first-child > div > div div input[type=date][readonly] {
  background-color: #F4F4F4;
  color: #BFBFBF;
}
#fichaVerUsuario > :first-child > div > div div textarea {
  resize: vertical;
}
#fichaVerUsuario > :first-child > div > div div input[type=text]:focus,
#fichaVerUsuario > :first-child > div > div div input[type=number]:focus,
#fichaVerUsuario > :first-child > div > div div input[type=date]:focus,
#fichaVerUsuario > :first-child > div > div div select:focus,
#fichaVerUsuario > :first-child > div > div div textarea:focus {
  border-color: #333333;
  outline: none;
}

/* Responsive */
@media (max-width: 768px) {
  .field-group {
    flex-direction: column;
  }
  .field {
    flex: 1 1 100%; /* Una sola columna en pantallas pequeñas */
  }
}
#fichaCrearUsuario > div {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #F4F4F4;
  padding: 20px;
  border-left: 5px solid #333333;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}
#fichaCrearUsuario > div h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #333333;
  margin-top: 0;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
#fichaCrearUsuario > div div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#fichaCrearUsuario > div div div {
  width: 50%;
}
#fichaCrearUsuario > div div form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 50%;
}
#fichaCrearUsuario > div div form div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#fichaCrearUsuario > div div form div label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333333;
  width: 50%;
}
#fichaCrearUsuario > div div form div input[type=text],
#fichaCrearUsuario > div div form div input[type=password],
#fichaCrearUsuario > div div form div input[type=email],
#fichaCrearUsuario > div div form div input[type=tel],
#fichaCrearUsuario > div div form div select {
  width: 40%;
  padding: 8px;
  font-size: 1em;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #333333;
  transition: border-color 0.3s;
}
#fichaCrearUsuario > div div form div input[type=text]:focus,
#fichaCrearUsuario > div div form div input[type=password]:focus,
#fichaCrearUsuario > div div form div input[type=email]:focus,
#fichaCrearUsuario > div div form div input[type=tel]:focus,
#fichaCrearUsuario > div div form div select:focus {
  border-color: #333333;
  outline: none;
}
#fichaCrearUsuario > div div form div input[type=text][readonly],
#fichaCrearUsuario > div div form div input[type=password][readonly],
#fichaCrearUsuario > div div form div input[type=email][readonly],
#fichaCrearUsuario > div div form div input[type=tel][readonly],
#fichaCrearUsuario > div div form div select[readonly] {
  background-color: #F4F4F4;
  color: #BFBFBF;
}
#fichaCrearUsuario > div div form div input[type=submit] {
  font-size: 1em;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #666666;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s;
}
#fichaCrearUsuario > div div form div input[type=submit]:hover {
  background-color: #333333;
}
@media (max-width: 768px) {
  #fichaCrearUsuario > div {
    width: 100%;
  }
  #fichaCrearUsuario > div form {
    flex-direction: column;
  }
  #fichaCrearUsuario > div form div {
    width: 100%;
  }
}

#fichaEditarUsuario > div {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
#fichaEditarUsuario > div > div {
  background-color: #F4F4F4;
  padding: 20px;
  border-left: #333333 solid 5px;
  border-radius: 5px;
}
#fichaEditarUsuario > div > div > h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #333333;
  margin-top: 0;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
#fichaEditarUsuario > div > div form {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#fichaEditarUsuario > div > div form > div:first-child {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#fichaEditarUsuario > div > div form > div:first-child img {
  max-width: 100%;
  max-height: 500px;
  border-radius: 10px;
}
#fichaEditarUsuario > div > div form > div:last-child {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#fichaEditarUsuario > div > div form > div:last-child div {
  width: 45%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#fichaEditarUsuario > div > div form > div:last-child div label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333333;
}
#fichaEditarUsuario > div > div form > div:last-child div select {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #333333;
}
#fichaEditarUsuario > div > div form > div:last-child div input[type=text] {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #333333;
  transition: border-color 0.3s;
}
#fichaEditarUsuario > div > div form > div:last-child div input[type=text]:focus {
  border-color: #333333;
  outline: none;
}
#fichaEditarUsuario > div > div form > div:last-child div input[type=text][readonly] {
  background-color: #F4F4F4;
  color: #BFBFBF;
}
#fichaEditarUsuario > div > div form > div:last-child > div:last-child {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
#fichaEditarUsuario > div > div form > div:last-child > div:last-child input[type=submit] {
  font-size: 1em;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #666666;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s;
}
#fichaEditarUsuario > div > div form > div:last-child > div:last-child input[type=submit]:hover {
  background-color: #333333;
}

@media (max-width: 768px) {
  #fichaEditarUsuario > div {
    width: 100%;
  }
  #fichaEditarUsuario > div form {
    flex-direction: column;
  }
  #fichaEditarUsuario > div form > div {
    width: 100%;
  }
}
#vocabularios {
  height: 70vh;
}
#vocabularios > :first-child {
  display: flex;
  width: 100vw;
  height: 12vh;
  align-items: center;
  justify-content: space-evenly;
}
#vocabularios > :last-child {
  display: flex;
  justify-content: space-evenly;
  margin-top: 6vh;
}
#vocabularios > :last-child div {
  display: block;
}
#vocabularios > :last-child div a > img {
  width: 15vw;
  height: auto;
  transition: scale 0.3s;
}
#vocabularios > :last-child div a > img:hover {
  scale: 1.05;
}
#vocabularios > :last-child div p {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.4vh;
}

#campsLlista {
  margin-top: 7vh;
  margin-bottom: 12.9vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#campsLlista a {
  display: block; /* Cambia el comportamiento del enlace a bloque */
  text-decoration: none; /* Elimina el subrayado del enlace */
  width: 35vw; /* Asegúrate de que el enlace ocupe el mismo ancho que el div */
  margin-left: 2.2vw; /* Asegúrate de que el margen esté aquí si es necesario */
  margin-right: 2.2vw;
  margin-bottom: 3vh; /* Margen inferior aquí para el enlace */
}
#campsLlista a div {
  background-color: #333333;
  padding: 1.3vw;
  border-radius: 10px;
}
#campsLlista a div p {
  font-size: 1.5rem;
  text-align: center;
  color: white;
}

#fichaUbicaciones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vh;
}
#fichaUbicaciones > :first-child {
  background-color: #333333;
  border-radius: 10px;
  width: 20vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  margin-bottom: 1.7vh;
}
#fichaUbicaciones > :first-child > h2 {
  font-size: 1.5rem;
  text-align: center;
  color: white;
}
#fichaUbicaciones > :nth-child(2) {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#fichaUbicaciones > :nth-child(2) .inputsDiv {
  display: flex;
  align-items: center;
  border: 2px solid black;
  margin-bottom: 5%;
}
#fichaUbicaciones > :nth-child(2) .inputsDiv input {
  width: 100%;
  text-align: center;
  border-style: none;
  padding: 0.5vw;
}
#fichaUbicaciones > :nth-child(2) .inputsDiv input:focus {
  outline: none;
}
#fichaUbicaciones > :nth-child(2) .inputsDiv button {
  height: 100%;
  width: 8%;
  padding: 0.5vw;
  background-color: transparent;
  border-style: none;
  font-size: 17px;
}
#fichaUbicaciones > :nth-child(2) .inputsDiv button:hover {
  cursor: pointer;
}
#fichaUbicaciones > :nth-child(2) .inputsDiv img {
  width: 1vw;
}
#fichaUbicaciones > :last-child {
  margin-top: 2vh;
}
#fichaUbicaciones > :last-child button {
  background-color: black;
  color: white;
  border-radius: 12px;
  padding: 0.5vw 2vw 0.5vw 2vw;
}
#fichaUbicaciones > :last-child button:hover {
  cursor: pointer;
  animation: aumentarTamano 0.2s linear 1 running forwards;
}

#fichaVocabulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vh;
}
#fichaVocabulario > :first-child {
  background-color: #333333;
  border-radius: 10px;
  width: 20vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  margin-bottom: 1.7vh;
}
#fichaVocabulario > :first-child > h2 {
  font-size: 1.5rem;
  text-align: center;
  color: white;
}
#fichaVocabulario > :nth-child(2) {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#fichaVocabulario > :nth-child(2) input {
  width: 100%;
  border: 2px solid black;
  text-align: center;
  margin-bottom: 1.7vh;
  padding: 0.5vw;
}
#fichaVocabulario > :nth-child(3) {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#fichaVocabulario > :nth-child(3) input {
  border: 2px solid black;
  padding: 0.5vw;
  text-align: center;
}
#fichaVocabulario > :nth-child(3) :last-child {
  padding: 0.5vw 2vw 0.5vw 2vw;
}
#fichaVocabulario > :nth-child(3) :last-child:hover {
  cursor: pointer;
  background-color: #BFBFBF;
  animation: aumentarTamano 0.2s linear 1 running forwards;
}
#fichaVocabulario > :last-child {
  margin-top: 2vh;
}
#fichaVocabulario > :last-child button {
  background-color: black;
  color: white;
  border-radius: 12px;
  padding: 0.5vw 2vw 0.5vw 2vw;
}
#fichaVocabulario > :last-child button:hover {
  cursor: pointer;
  animation: aumentarTamano 0.2s linear 1 running forwards;
}

@keyframes aumentarTamano {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.04);
  }
}
.Exposicion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
}
.Exposicion > div {
  width: 80%;
  background-color: #F4F4F4;
  padding: 20px;
  border-radius: 5px;
  border-left: #333333 solid 5px;
}
.Exposicion > div > form {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5%;
}
.Exposicion > div > form > div {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-bottom: 2.5%;
}
.Exposicion > div > form > div input, .Exposicion > div > form > div select {
  font-size: 1em;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}
.Exposicion > div > form > div label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333333;
}
.Exposicion > div > form > div input[type=submit] {
  font-size: 1em;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #666666;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s;
}
.Exposicion > div > form > div input[type=submit]:hover {
  background-color: #333333;
}
.Exposicion > div > form > :last-child > input[type=submit] {
  margin-top: 4.5%;
}
.Exposicion > :last-child > :first-child {
  color: red;
}
.Exposicion > :last-child > :last-child {
  display: flex;
  justify-content: center;
}
.Exposicion > :last-child > :last-child table {
  width: 92%;
  border-collapse: separate;
  border-spacing: 0 0.5vh;
}
.Exposicion > :last-child > :last-child table tr {
  font-size: large;
}
.Exposicion > :last-child > :last-child table tr td, .Exposicion > :last-child > :last-child table tr th {
  padding: 1.3vh;
  text-align: center;
  width: 1.5vw;
}
.Exposicion > :last-child > :last-child table tr td > a button, .Exposicion > :last-child > :last-child table tr th > a button {
  font-weight: bold;
  padding: 2%;
  color: #333333;
  background-color: #EFEFEF;
}
.Exposicion > :last-child > :last-child table tr td > a button:hover, .Exposicion > :last-child > :last-child table tr th > a button:hover {
  cursor: pointer;
}
.Exposicion > :last-child > :last-child table tr td button, .Exposicion > :last-child > :last-child table tr th button {
  font-weight: bold;
  padding: 2%;
  color: #333333;
  background-color: #EFEFEF;
}
.Exposicion > :last-child > :last-child table tr td button:hover, .Exposicion > :last-child > :last-child table tr th button:hover {
  cursor: pointer;
}
.Exposicion > :last-child > :last-child table tr td > img, .Exposicion > :last-child > :last-child table tr th > img {
  width: 30%;
}
.Exposicion > :last-child > :last-child table tr td > a > img, .Exposicion > :last-child > :last-child table tr th > a > img {
  width: 2vw;
  height: auto;
  margin-right: 0.1vw;
}
.Exposicion > :last-child > :last-child table tr:first-child {
  background-color: #333333;
  color: white;
}
.Exposicion > :last-child > :last-child table tr:nth-child(even):not(:first-child) {
  background-color: #BFBFBF;
}
.Exposicion > :last-child > :last-child table tr:nth-child(odd):not(:first-child) {
  background-color: #EFEFEF;
}

.relacion > :first-child {
  color: red;
  text-align: center;
}
.relacion > :last-child {
  display: flex;
  justify-content: center;
}
.relacion > :last-child form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.relacion > :last-child form table {
  width: 92%;
  border-collapse: separate;
  border-spacing: 0 0.5vh;
}
.relacion > :last-child form table tr {
  font-size: large;
}
.relacion > :last-child form table tr td, .relacion > :last-child form table tr th {
  padding: 1.3vh;
  text-align: center;
  width: 1.5vw;
}
.relacion > :last-child form table tr td > a button, .relacion > :last-child form table tr th > a button {
  font-weight: bold;
  padding: 2%;
  color: #333333;
  background-color: #EFEFEF;
}
.relacion > :last-child form table tr td > a button:hover, .relacion > :last-child form table tr th > a button:hover {
  cursor: pointer;
}
.relacion > :last-child form table tr td > img, .relacion > :last-child form table tr th > img {
  width: 30%;
}
.relacion > :last-child form table tr td > a > img, .relacion > :last-child form table tr th > a > img {
  width: 2vw;
  height: auto;
  margin-right: 0.1vw;
}
.relacion > :last-child form table tr:first-child {
  background-color: #333333;
  color: white;
}
.relacion > :last-child form table tr:nth-child(even):not(:first-child) {
  background-color: #BFBFBF;
}
.relacion > :last-child form table tr:nth-child(odd):not(:first-child) {
  background-color: #EFEFEF;
}

footer {
  position: relative;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  height: 20vh;
  background-color: #333333;
  display: flex;
}
footer .div1 {
  width: 50%;
  height: 100%;
}
footer .div1 img {
  max-width: 50%;
  display: block;
  margin-left: 60px;
  margin-top: 10px;
}
footer .div1 :first-child {
  width: 15vw;
  height: auto;
  margin-left: 50px;
}
footer .div1 :last-child {
  width: 20vw;
  height: auto;
}
footer .div2 {
  width: 50%;
  height: 100%;
  color: white;
}
footer .div2 .ubicacion {
  display: flex;
  margin-left: 0;
  height: 33%;
  align-items: center;
}
footer .div2 .ubicacion img {
  width: auto;
  height: auto;
  max-width: 3vw;
  max-height: 3vh;
}
footer .div2 .ubicacion a {
  margin: auto;
  margin-left: 1vw;
  font-weight: normal;
  font-size: 120%;
}
footer .div2 .llamada {
  display: flex;
  margin-left: 0;
  height: 33%;
  align-items: center;
}
footer .div2 .llamada img {
  width: auto;
  height: auto;
  max-width: 3vw;
  max-height: 3vh;
}
footer .div2 .llamada a {
  margin: auto;
  margin-left: 1vw;
  font-weight: normal;
  font-size: 120%;
}
footer .div2 .web {
  display: flex;
  margin-left: 0;
  height: 33%;
  align-items: center;
}
footer .div2 .web img {
  width: auto;
  height: auto;
  max-width: 3vw;
  max-height: 3vh;
}
footer .div2 .web a {
  margin: auto;
  margin-left: 1vw;
  font-weight: normal;
  font-size: 120%;
}

#popupEliminar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
#popupEliminar > div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2vh;
  background-color: rgb(250, 250, 250);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#popupEliminar > div > img {
  width: 30%;
}
#popupEliminar > div > h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
#popupEliminar > div > :last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
#popupEliminar > div > :last-child button {
  background-color: #F8F9FA;
  color: #333333;
  padding: 0.5vw;
  font-size: 1.2em;
}
#popupEliminar > div > :last-child button:hover {
  background-color: #333333;
  color: #F8F9FA;
  cursor: pointer;
  animation: aumentarTamano 0.2s linear 1 running forwards;
}

@keyframes aumentarTamano {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.08);
  }
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hace que el body ocupe la altura completa de la ventana */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}

/*# sourceMappingURL=main.css.map */
