
<footer>
    <div class="div1">
        <img src="images/nombre.png" alt="">
        <img src="images/firma.png" alt="">
    </div>
    <div class="div2">
        <div class="ubicacion">
            <img src="images/ubicacion.png" alt="">
            <a>Carrer Major, 25, 43700 El Vendrell, Tarragona</a>
        </div>
        <div class="llamada">
            <img src="images/iconoLlamada.png" alt="">
            <a>634242345</a>    
        </div>
        <div class="web">
            <img src="images/iconoWeb.png" alt="">
            <a>Visita la nostra WEB <a>    
        </div>
    </div>
</footer>
