@import "variables.scss";

#general{
    min-height: 70vh;
    >:first-child{
        display: flex;
        width: 100vw;
        height: 12vh;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 4vw; 
        padding-right: 4vw;
        >:first-child{
            font-size: 1.1rem;
            font-weight: normal;
            
        }
        >:nth-child(2){
            margin-left: 34vw;
            border: solid 2px black;
            /*border-radius: 15px;*/
            >:first-child{
                display: flex;
                align-items: center;
    
                height: 4vh;
                .img_lupa{
                    width: auto;
                    height: 3vh;
                    margin-left:0.5vw ;
                }
                .img_ajustes {
                    width: auto;
                    height: 3vh;
                    margin-left:0.5vw;
                    padding-right: 1vh;
                }
                >input{
                    height: 4vh;
                    border: none;
                    margin-right: 0.7vw;
                    outline: none;
    
                    margin-left: 3vw;
                    font-size: medium;
                }
                >input:focus{
                    border: none;
                    outline: none;
                }
    
            }
        }
        >:nth-child(3) {
            
            display: flex;
            flex-direction: row;
            >:first-child{
                height: 2vh;
                font-size: larger;
            }
            >img {
                width: 2vw;
                height: 4vh;
            }
            >img:hover {
                cursor: pointer;
            }
        }
        >:last-child {
            display: flex;
            flex-direction: row;
            >:first-child {
                height: 3vh;
                width: 1.5vw;
            }
            >:last-child {
                height: 3vh;
                width: 1.5vw;
            }
        }
    }
    >:last-child{
        display: flex;
        justify-content: center;

        table{
            width: 92vw;
            border-collapse: separate;
            border-spacing: 0 0.5vh;
            tr{
                font-size: large;
                
                
                td, th{
                    padding: 1.3vh;
                    text-align: center;
                    >a{
                        
                        >img{
                            width: 1.5vw;
                            height: auto;
                            margin-right: 0.1vw;
                        }
                    }
                    
                }
                
            }
            tr:first-child{
                background-color: $color_oscuro;
                color: white;
                
            }
            tr:nth-child(even):not(:first-child){
                background-color: $color_claro2;
            }
            tr:nth-child(odd):not(:first-child) {
                background-color: $color_claro3;
            }
            


        }
    }
    button{
        background-color: grey;
    }

}