@import "variables.scss";

#general{
    min-height: 70vh;
    >:first-child{
        display: flex;
        width: 100vw;
        height: 12vh;
        align-items: center;
        justify-content: space-between;

        >:first-child{
           margin-left: 3.5%;
        }
        >:nth-child(2) {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 5%;
            

            >:first-child {
                width: 40%;
                height: 40%;
                border: 2px black solid;
                display: flex; 
                align-items: center;

                >:first-child {
                    width: 9%; 
                    height: 70%;
                    background-color: transparent;
                    margin-left: 2%;
                    border: none; /* Eliminar borde predeterminado */
                    padding: 0; /* Sin padding para ajustarse a la imagen */
                    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */

                    img {
                        width: 100%;                    /* La imagen ocupará el 100% del ancho del botón */
                        height: auto;                   /* Mantener la proporción de la imagen */
                        max-height: 100%;               /* Asegurarse de que la imagen no exceda la altura del botón */
                        object-fit: contain;            /* Ajustar la imagen para que se contenga dentro del botón */
                    }
                }
                >:nth-child(2){
                    border: none;
                    height: 100%;
                    width: 75%;
                    margin-left: 2%;
                    font-size: 16px;
                }
                >:nth-child(2):focus {
                    outline: none;
                }
                >:last-child {
                    width: 9%; 
                    height: 70%;
                    background-color: transparent;
                    border: none; /* Eliminar borde predeterminado */
                    padding: 0; /* Sin padding para ajustarse a la imagen */
                    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */

                    img {
                        width: 100%;                    /* La imagen ocupará el 100% del ancho del botón */
                        height: auto;                   /* Mantener la proporción de la imagen */
                        max-height: 100%;               /* Asegurarse de que la imagen no exceda la altura del botón */
                        object-fit: contain;            /* Ajustar la imagen para que se contenga dentro del botón */
                    }
                }
            }
            >:nth-child(2) {
                width: 20%;
                height: 40%;
                display: flex;
                align-items: center;
                
                >:first-child {
                    height: 100%;
                    width: 60%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    a {
                        margin-left: 10%;
                        font-size: 18px;
                    }

                    img {
                        width: 30%;
                        height: auto;
                    }
                    img:hover {
                        cursor: pointer;
                    }
                }

                >:last-child {
                    height: 100%;
                    width: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    

                    img {
                        width: 40%;
                        height: auto;
                    }
                    img:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    >:last-child{
        display: flex;
        justify-content: center;

        table{
            width: 92vw;
            border-collapse: separate;
            border-spacing: 0 0.5vh;
            tr{
                font-size: large;
                
                
                td, th {
                    padding: 1.3vh;
                    text-align: center;
                    width: 2vw;
                    > img {
                        width: 100%;
                    }
                    >a{
                        >img{
                            width: 1.5vw;
                            height: auto;
                            margin-right: 0.1vw;
                        }
                    }
                    
                }
                
            }
            tr:first-child{
                background-color: $color_oscuro;
                color: white;
                
            }
            tr:nth-child(even):not(:first-child){
                background-color: $color_claro2;
            }
            tr:nth-child(odd):not(:first-child) {
                background-color: $color_claro3;
            }
            


        }
    }
    button{
        background-color: grey;
    }

}