@import "variables.scss";

header{

    background-color: $color_oscuro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    
    >img{
        margin: 3%;
        width: 17vw;    
        height: auto;
    }
    >nav{
        display: flex;
        justify-content: space-between;
        width: 30vw;
        margin-right: 7vw;
        >a{
            text-decoration: none;
            color: white;
            font-size: 120%;

            transition: scale 0.3s;
        }
        >a:hover{
            color: $color_claro;
            scale: 1.05;
        }
    }
    >div{
        margin-right: 3vw;
        >a{
            >img{
                width: 2.5vw;
                height: auto;
                margin-left: 2vw;

            transition: scale 0.3s;
            }
            >img:hover{
                scale: 1.1;
            }
        }
        
    }
    
}

