@import "login.scss";
@import "header.scss";
@import "general.scss";
@import "fichaVerUsuario.scss";
@import "fichaEditarUsuario.scss";
@import "footer.scss";
@import "variables.scss";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





