@import "login.scss";
@import "header.scss";
@import "general.scss";
@import "fichaVerUsuario.scss";
@import "fichaUsuario.scss";
@import "footer.scss";
@import "variables.scss";
@import "popUpEliminar.scss";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





