@import "variables.scss";
@import "login.scss";
@import "header.scss";
@import "general.scss";
@import "fichaVerUsuario.scss";
@import "fichaUsuario.scss";
@import "menuVocabularios.scss";
@import "campsLlista";
@import "fichaVocabulario.scss";
@import "footer.scss";
@import "popup.scss";


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hace que el body ocupe la altura completa de la ventana */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}







