// Variables SCSS
$primary-color: #333333;
$border-color: #ddd;
$background-grey: #f0f0f0;
$delete-color: #fe3b3b;
$border-radius: 4px;
$spacing-large: 20px;

// Estilos del popup
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;

  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    scale: 1;
    transition: scale .2s ease-in-out;

    @starting-style{
      scale: 0;
    }

    .popup-header {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid #eee;

      .close-btn {
        background: none;
        border: none;
        font-size: 22px;
        cursor: pointer;
        padding: 2px 8px;
        line-height: 1;
        color: #666;
        transition: color 0.2s;
        
        &:hover {
          color: #000;
        }
        &:active {
            scale: 0.9;
          }
      }
    }

    .popup-body {
      padding-top: 5px;

      h3{
        padding-bottom: 15px;
      }
    }
  }
}

// Estilos del formulario
.form-group {
  margin-bottom: 15px;

  .filterItemGroup{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  select {
    width: 50%;
    padding: 8px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-sizing: border-box;
    background-color: $primary-color;
    color: white;
    
    &:focus {
      outline: none;
      border-color: $primary-color;
      box-shadow: 0 0 0 2px rgba($primary-color, 0.1);
    }

    &:hover{
      cursor: pointer;
    }
  }

  input{
    width: 50%;
    padding: 8px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-sizing: border-box;
    
    &:focus {
      outline: none;
      border-color: $primary-color;
      box-shadow: 0 0 0 2px rgba($primary-color, 0.1);
    }
  }
  .plusInput{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
  }
  
  .btn-add-field{
    padding: 8px 16px;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: all 0.2s;
    background-color: $primary-color;
    color: white;
    
    &:hover {
      background-color: darken($primary-color, 5%);
      transform: translateY(-1px);
    }

    &:active{
      scale: 0.95;
    }
  }
  #and-filters-inputs, #or-filters-inputs{
    padding: 10px 0 0 10px;

  }
  .input-group{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
  }
}

.trashIcon{
  cursor: pointer;

  &:hover{
    filter: brightness(0) saturate(100%) invert(35%) sepia(97%) saturate(6386%) hue-rotate(357deg) brightness(93%) contrast(120%);
    transform: translateY(-1px);
  }

  &:active{
    scale: 0.9;
  }
}

.minusIcon{
  cursor: pointer;
  transition: filter 0.3s ease;

  &:hover{
    filter: brightness(0) saturate(100%) invert(35%) sepia(97%) saturate(6386%) hue-rotate(357deg) brightness(93%) contrast(120%);
    transform: translateY(-1px);
  }

  &:active{
    scale: 0.9;
  }
}

.plusIcon{
  cursor: pointer;

  &:hover{
    transform: translateY(-1px);
  }

  &:active{
    scale: 0.9;
  }
}

// Grupo de botones
.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;

  button {
    padding: 8px 16px;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(0);
      scale: 0.99;
    }
  }

  .btn-reset {
    background-color: $background-grey;
    
    &:hover {
      background-color: darken($background-grey, 5%);
    }
  }

  .btn-apply {
    background-color: $primary-color;
    color: white;
    
    &:hover {
      background-color: darken($primary-color, 5%);
    }
  }
}