#general{
    min-height: 70vh;
    overflow: hidden;
    >:first-child{
        
        display: flex;
        width: 100vw;
        height: 12vh;
        align-items: center;
        justify-content: space-between;

        >:first-child{
           margin-left: 3.5%;
        }
        >:nth-child(2) {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 5%;
            

            >:first-child {
                width: 40%;
                height: 40%;
                border: 2px black solid;
                display: flex; 
                align-items: center;

                >:first-child {
                    width: 9%; 
                    height: 70%;
                    background-color: transparent;
                    margin-left: 2%;
                    border: none; 
                    padding: 0;
                    img {
                        width: 100%;                 
                        height: auto;                   
                        max-height: 100%;              
                        object-fit: contain;          
                    }
                }
                >:nth-child(2){
                    border: none;
                    height: 100%;
                    width: 75%;
                    margin-left: 2%;
                    font-size: 16px;
                }
                >:nth-child(2):focus {
                    outline: none;
                }
                >:last-child {
                    width: 9%; 
                    height: 70%;
                    background-color: transparent;
                    border: none; 
                    padding: 0; 

                    img {
                        width: 100%;                    
                        height: auto;                   
                        max-height: 100%;               
                        object-fit: contain;           
                    }
                }
            }
            >:nth-child(2) {
                width: 20%;
                height: 40%;
                display: flex;
                align-items: center;
                
                >:first-child {
                    height: 100%;
                    width: 60%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    a {
                        margin-left: 10%;
                        font-size: 18px;
                    }

                    img {
                        width: 30%;
                        height: auto;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                >:last-child {
                    height: 100%;
                    width: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    

                    img {
                        width: 40%;
                        height: auto;
                    }
                    img:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    >:last-child{
        display: flex;
        justify-content: center;

        table{
            width: 95%;
            border-collapse: separate;
            border-spacing: 0 0.5vh;
            tr{
                font-size: large;
                td, th {
                    padding: 1.3vh;
                    text-align: center;
                    width: 1.5vw;
                    > a {
                        button {
                            font-weight: bold;
                            padding: 3px 10px 3px 10px;
                            color: $color_claro3;
                            background-color: $color_oscuro;
                            border: 2px solid $color_claro3;
                            border-radius: 3px;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                    > img {
                        width: 30%;
                    }
                    >a{
                        >img{
                            width: 2vw;
                            height: auto;
                            margin-right: 0.1vw;
                        }
                    }
                    .eliminarRegistro {
                        border: none;
                        background-color: transparent;
                        margin-left: -0.3vw;
                        cursor: pointer;
                        > img {
                            width: 2.2vw;
                        }
                    }
                }
                
            }
            tr:first-child{
                background-color: $color_oscuro;
                color: white;
                
            }
            tr:nth-child(even):not(:first-child){
                background-color: $color_claro2;
            }
            tr:nth-child(odd):not(:first-child) {
                background-color: $color_claro3;
            }
            


        }
    }
    

}

#popupImagen {
    display: none;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    background-color: rgba(0,0,0,0.5);
}

#vistaImagenAmpliada {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
        width: 100%;
        height: auto;
    }
}

.fotografiaObjeto:hover {
    cursor: pointer;
}

.flex {
    @include flex-column;
}