@import "../utils/variables.scss";
#general{
    min-height: 70vh;
    overflow: hidden;
    @include flex-column;
    >:first-child{ //Título tabla y opciones de búsqueda y filtros.
        @include flex-row;
        width: 95%;
        padding: 20px 0px 20px 20px;
        >:first-child {
            > h1 {
                font-size: 30px;
            }
        }
        >:nth-child(2) { //Búsqueda y filtros
            @include flex-row;
            justify-content: right;
            >:first-child{
                margin-right: 12px;
                a{
                    gap: 8px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: auto;
                    background-color: $color_oscuro;
                    border: 1px solid $color_claro2;
                    border-radius: 3px;
                    color: white;
                    font-size: 17px;
                    text-align: center;
                    padding: 4px;

                    transition: transform 0.3s;
                    cursor: pointer;
                    img{
                        width: 30px;
                        height: auto;
                    }
                }
                a:hover{
                    transform: translateY(-1px);
                    background-color: darken($color: $color_oscuro, $amount: 5%);
                }
            }
            >:nth-child(2){
                margin-right: 20px;
                button{
                    gap: 8px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: auto;
                    background-color: $color_oscuro;
                    border: 1px solid $color_claro2;
                    border-radius: 3px;
                    color: white;
                    font-size: 17px;
                    text-align: center;
                    padding: 5px;

                    transition: transform 0.3s;
                    cursor: pointer;
                    img{
                        width: 28px;
                        height: auto;
                    }
                }
                button:hover{
                    transform: translateY(-1px);
                    background-color: darken($color: $color_oscuro, $amount: 5%);
                }
            }
            >:nth-child(3) {
                border: 2px $color_oscuro solid;
                @include flex-row;
                margin-right: 10px;
                padding: 5px;

                >:first-child { //Icono de búsqueda
                    width: 20px;
                    padding: 0px;
                }
                >:nth-child(2){
                    border: none;
                    margin-left: 20px;
                    font-size: 16px;

                    &:focus {
                        outline: none;
                    }
                }
                >:last-child {
                    width: 22px;
                }
            }
            >:nth-child(4) {
                @include flex-row;
                margin-right: 10px;
                > select {
                    background-color: $color_oscuro;
                    border: 1px solid $color_claro2;
                    border-radius: 3px;
                    color: white;
                    font-size: 17px;
                    text-align: center;
                    padding: 8px;
                }
            }    
            >:last-child {
                @include flex-row;
                
                img {
                    width: 25px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    >:last-child{
        width: 95%;
        min-height: 100vh;
        table{
            width: 100%;
            border-collapse: separate;
            border-spacing: 0px 5px;
            tr{
                font-size: 18px;
                td, th {
                    padding: 10px;
                    text-align: center;
                    width: 50px;
                    > a {
                        button {
                            background-color: $color_oscuro;
                            border: 2px solid $color_claro3;
                            border-radius: 3px;
                            color: $color_claro3;
                            font-weight: bold;
                            padding: 3px 10px 3px 10px;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                    > img { //Imagen registro
                        width: 40%;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                    > a {
                        > img{
                            width: 25px;
                            
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
                
            }
            tr:first-child{
                background-color: $color_oscuro;
                color: white;
            }
            tr:nth-child(even):not(:first-child){
                background-color: $color_claro2;
            }
            tr:nth-child(odd):not(:first-child) {
                background-color: $color_claro3;
            }
        }
    }
}


#popupImagen, #popupSQL {
    display: none;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;

    > div {
        width: 25%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        img {
            width: 100%;
            height: auto;
        }

        #imagenSQL{
            width: 50%;
            height: auto;
        }
    }

    #contenidoPopupSQL {
        background-color: $color_claro2;
        border-radius: 10px;
        color: black;
        padding: 20px;
        > div > button {
            padding: 10px;
        }
    }
    
}